<div class="row centre">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total Cost</h3>
      </div>
      <div class="panel-body stats ">
        <%= number_to_currency(@clearance_batch.total_clearance_cost) %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total Items</h3>
      </div>
      <div class="panel-body stats">
        <%= @clearance_batch.items.size %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Clearance Date</h3>
      </div>
      <div class="panel-body stats">
        <%=l(@clearance_batch.updated_at, format: :short)%>
      </div>
    </div>
  </div>
</div>